//- loding
.loading(style="display:none")
  .spinner
    .bounce1
    .bounce2
    .bounce3
//- 头部
header
  .zj-header
    .zj-container
      .zj-nav.clearfix
        a.logo(href="/")
          img(src="/images/logo.png", alt="")
        .triggers
          a(href="javascript:;").search-btn
            i.icon.icon-ss
          a(href="javascript:;").mean-btn
            i.icon.icon-mulu
        nav
          ul.clearfix
            li#home
              a(href="/" target='_blank') 首页
            li
              a(href="/news" target='_blank') 资讯
            li
              a(href="/activity" target='_blank') 活动
            li
              a(href="/daohang" target='_blank') 导航
            li
              a(href="/project" target='_blank') 项目
            li
              a(href="/tech" target='_blank') 学院
            li
              a(href="http://bbs.zczj.com") 论坛
        .zj-login
          ul.sub-nav
            li.search-item
              a(data-stat-hover="sousuo" href="javascript:;")
                i.icon.icon-ss
              .search-warp.pop-up
                .search
                  form#form_Search(action="")
                    input(type="hidden")#hdTopSearchType
                    input(name='poster' type="hidden")
                    input(name='keyword' type='hidden')
                    input.fl.search-input(name='txtSearchKeyWord' type='search')#txtSearchKeyWord
                    button.fr.search-btn.icon.icon-ss(type='button')
            li.app-download
              a(data-stat-hover="kehuduan" href="javascript:;")
                i.icon.icon-shouji
              .mobile-wrap.pop-up
                img(src="https://www.zczj.com/skin/images/downApp/ma.png" alt="" width="120").qr
                p.mobile-text iPhone & Android
            li#head_show.login-actions
              span.login_btn_head
                a.login-link.J_login(href="javascript:LoginMon();") 登录
                ||
                a(href='/passport/reg') 注册

  .zj-header.sub_nav
    .zj-container
      ul
        li
          a(href="/") 老苏测试
        li
          a(href="/") 老苏
        li
          a(href="/") 测试
script.
  $.ajax({
    url:'/isLogin',
    method: 'GET',
  }).done(function(results){
    if(results.resultId == 200){
      document.querySelector('#head_show').innerHTML = results.str;
    }
    console.log(results.message)
  })

  function LoginOutMon(){
    window.location.href = '/logout'
  }
  function LoginMon(){
    window.location.href= '/signin'
  }