//- 头部
header
  .header-warp.container
      .nav.clearfix
        a.logo
          i.icon.icon-logo
          span 老苏
        .triggers
        nav
          a(href="#", title="title") 首页 
          a(href="#", title="title") 首页 
          a(href="#", title="title") 首页 
          a(href="#", title="title") 首页 
          a(href="#", title="title") 首页 
        .login-btn
          if user
            span #{user.Account}
          else
            a(href="/signin", title="title") 
                i.icon.icon-login


