link(type="image/x-icon" href="/libs/images/includes/favicon.ico" rel="shortcut icon")
script(src="/libs/plugs/jquery/jquery.min.js")
script(src="/libs/plugs/jquery/jquery.validate.min.js")
<link href="" rel="stylesheet">
link(href="http://vjs.zencdn.net/vjs-version/video-js.css", rel="stylesheet")

