link(type="image/x-icon" href="/libs/images/includes/favicon.ico" rel="shortcut icon")
script(src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js")
script(src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js")
