link(type="image/x-icon" href="/libs/images/includes/favicon.ico" rel="shortcut icon")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js")
