section#header
  .header-top(v-if="!isMobileOrTable")
    .container.clearfix
      .header-top-l
        span.tel
          i.icon.icon-tel
          |客服：400-066-8606
        span.gzus
          |关注我们：
          a(href="http://weibo.com/wow36kr" target="_brank")
            i.icon.icon-sina
          span.top-wx
            i.icon.icon-wx
            .pop-up.pop-wx
              img(src="http://www.dgd.vc/skin/img/ewm.png", alt="", width="120", height="120")
        span.app
          i.icon.icon-phone
          |下载APP
          .pop-up.pop-app
            img(src="https://www.zczj.com/skin/images/downApp/ma.png", alt="", width="120", height="120")
      .header-top-r
        span.msg
          i.icon.icon-msgTop.icon-msgC
          |我的消息
        span.top-login(v-if="!isLogin")
          a(v-bind:href="['/passport/login.html?url='+window.location.href]") 登录
          span.line |
          a(href="/passport/register.html") 注册
        span.top-login(v-else="")
          a(href="/mycenter/index")
            img(alt="", v-bind:src="userInfo.Avatar")
          span.user-name.ellipsis {{userInfo.UserName}}
          .user-pop.pop-up
            a.userinfo.clearfix(href="/", v-bind:title="userInfo.Avatar")
              img(alt="", v-bind:src="userInfo.Avatar")
              span {{userInfo.UserName}}
            .menu
              a(href="#") 我的帐户
              a(href="#") 我的交易
              a(href="#") 我的质押
              a(href="#") 我的优惠券
              a(href="#") 安全中心
              a(href="javascript:void(0);", v-if="isLogin", v-on:click="loginOut()") 退出


        span.go-zczj
          a(href="http://www.zczj.com")
            .icon.icon-zczj-b
            |前往之家
  