@import '../components/aside';
@import '../components/button';
@import '../components/news/newstitle';
@import '../components/news/newsinfo';
@import '../components/news/introduction';
@import '../components/news/newstext';
@import '../components/news/newsnext';
@import '../components/news/newsrelated';
@import '../components/news/newstag';
@import '../components/share';
@import '../components/comment';
.news-detail {
  margin-top: 30px;
  padding-bottom: 30px;
} // 新闻主体
.news-content {
  padding: 0 14px;
  margin-right: 50px;
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-right: 36px;
  }
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}