/*
  * 下一篇文章
  */

.next-news-container {
  margin-top: 22px;
  display: flex;
  align-items: strecth;
  justify-content: space-between;
  .news-qrcode {
    width: 55%;
    background-color: #fafafa;
    border: 1px solid #dee1e5;
    font-size: 16px;
    color: #494d58;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 103px;
      height: 103px;
      margin-right: 12px;
    }
    p {
      margin-bottom: 12px;
    }
  }
  .next-news {
    width: 40%;
    border: 1px solid #dee1e5;
    padding: 23px 13px;
    &-head {
      font-size: 17px;
      color: #a7a7a7;
    }
    &-title {
      font-size: 18px;
      color: #494d58;
      font-weight: bold;
      margin: 18px 0;
      display: block;
    }
    &-source {
      font-size: 14px;
      color: #999;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .news-qrcode {
      font-size: 12px;
      img {
        width: 60px;
        height: 60px;
        margin-right: 6px;
      }
      p {
        margin-bottom: 6px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    .news-qrcode {
      width: 100%;
      justify-content: flex-start;
      padding: 12px;
      padding-right: 0;
      font-size: 12px;
      img {
        width: 60px;
        height: 60px;
        margin-right: 6px;
      }
      p {
        margin-bottom: 6px;
      }
    }
    .next-news {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}