$button-color: #3574f7;
$gary:#b3b3b3;
.button {
  display: inline-block;
  padding: 14px 19px;
  color: #fff;
  background-color: $button-color;
  border-radius: 5px;
  &:hover {
    opacity: .8;
  }
  &-more {
    padding: 7px 30px;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
  }
  &-load-more {
    border: $button-color 1px solid;
    color: $button-color;
    background-color: transparent;
    font-size: 18px;
  }
  &-load-more-min {
    border: $button-color 1px solid;
    color: $button-color;
    background-color: transparent;
    padding: 8px 30px;
    font-size: 14px;
  }
  &-tab {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    background: $gary;
    color: #fff;
    width: 80px;
    text-align: center;
    padding: 0;
    font-size: 1.6rem;
    &.cur {
      background: $button-color;
    }
  }
  &-primary {
    box-shadow: 0 3px 1px #1757de;
  }
}

@media screen and (max-width: 47.9375em) {
  .button {
    &-load-more {
      border: $button-color 1px solid;
      color: $button-color;
      background-color: transparent;
      padding: 8px 15px;
      font-size: 14px;
    }
  }
}