extends ../../includes/layout

block link  
  meta(name="keywords" content="")
  meta(name="description" content="xxx")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css", rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css", rel="stylesheet")
  link(href="/libs/css/index/index.min.css",rel="stylesheet")
  
block content
  .zj-container
    //- newsbanner
    .news-banner.clearfix
      .main.owl-carousel.owl-theme#newsBanner
        each item in bannerList
          -var imgSrc = 'http://zczj01.oss-cn-shenzhen.aliyuncs.com/'+item.ChannelContent.Pic;
          .item
            a(href="#{xx}")
              img(src="http://zczj01.oss-cn-shenzhen.aliyuncs.com/'"+item.ChannelContent.pic, alt="")
              p.silder_txt.ellipsis
              .mark
      ul.side
        li
          a(href="#")
            span.banner_list-t.ellipsis
            span.mask

  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js")
  script(src="/libs/scripts/js/index/index.min.js")
  