extends ../../includes/layout

block link
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
  meta(name="keywords" content="")
  meta(name="description" content="xxx")
  link(href="/libs/css/index/index.min.css",rel="stylesheet")
block content