@import '../components/aside';
@import '../components/resetOwl/resetOwl';
@import '../components/index/banner-aside';
@import '../components/news/newslist';
@import '../components/index/btlist';
@import '../components/index/title';
@import '../components/index/datas';
@import '../components/button';
@import '../mixin/mixin';
main {
  >section {
    width: calc(100% - 275px);
    padding-right: 30px;
  }
  .side {
    .button-box {
      margin-top: 10px;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 47.9375em) {
  main {
    width: 100%;
    .main-contain {
      max-width: 1100px;
      width: 96%;
      margin: 0 auto;
    }
    >section {
      width: 100%;
      padding-right: 0;
    }
  }
}