extends ../../includes/layout

block link
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
  meta(name="keywords" content="")
  meta(name="description" content="xxx")
  link(href="/libs/css/index/index.min.css",rel="stylesheet")
block content

  //- 登录
  .container.signin
    form(action="/passport/signin" method="GET")#dSigninForm
      .signin-box
        .signin-title
          span 登录
        ul.con
          li
            input(name='name' type="text" placeholder='输入您的帐号')
          li
            input(name='password' type="password" placeholder='输入您的密码')
          li
            button(type="submit") 登录

  


  //-js

  script(src="/scripts/js/user/user_main.js")
  
