/*
新主站_下专题
*/

.bt-list {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  .item {
    width: calc(33.33333333333% - 8px);
    transition: all .3s;
    position: relative;
    img {
      width: 100%;
    }
    &:hover {
      box-shadow: 3px 3px 3px #666;
      opacity: 1;
    }
    .mark {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      display: block;
    }
    .title {
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      height: 44px;
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      z-index: 11;
      padding: 0 5px;
    }
  }
}

@mixin bt-list-767() {
  .bt-list .item {
    .title {
      font-size: 13px;
      line-height: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 47.9375em) {
  @include bt-list-767();
}