/*
本月数据
*/

$bdc:#f1f2f2;
$tbg:#fafafa;
$fc:#6b7c93;
$fc-b:#505050;
.datas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    width: calc(50% - 14px);
    border: 1px $bdc solid;
    border-radius: 4px;
    margin-top: 25px;
    transition: .3s all;
    &:hover {
      box-shadow: 3px 3px 3px #999;
    }
    .img {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
      }
    }
    dl {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      dt,
      dd {
        flex: 1;
        display: flex;
        align-items: center;
      }
      dt {
        background: $tbg;
        font-size: 2.2rem;
        color: $fc;
        font-weight: 700;
        border-bottom: 1px $bdc solid;
        span {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
      dd {
        padding: 0 10%;
        border-bottom: 1px $bdc dashed;
        .data-logo {
          display: inline-block;
          height: 45px;
          width: 45px;
          border-radius: 22px;
          background: #74a6ff;
          text-align: center;
          line-height: 45px;
          color: #fff;
          .icon {
            font-size: 2.2rem;
          }
        }
        .data-txt {
          padding-left: 10px;
          p {
            line-height: 1.2;
            font-size: 1.7rem;
            color: $fc;
            &:nth-of-type(1) {
              font-size: 2.6rem;
              font-weight: 700;
              color: $fc-b;
            }
          }
        }
      }
    }
  }
  .title,
  .data {
    color: $fc-b;
    height: 36px;
    line-height: 36px;
    padding: 0 25px;
    font-size: 2rem;
    font-weight: 700;
  }
  .title {
    margin-top: 10px;
  }
  .data {
    font-size: 1.6rem;
    height: 24px;
    line-height: 24px;
    color: #656565;
    margin-bottom: 15px;
    font-weight: 400;
  }
}

// 900
@media screen and (max-width: 56.25em) {
  .datas {
    .item {
      dl {
        dt {
          font-size: 1.8rem;
        }
        dd {
          padding: 0 6%;
          .data-txt {
            p {
              font-size: 1.4rem;
              &:nth-of-type(1) {
                font-size: 2rem;
              }
            }
          }
        }
      }
      .title {
        font-size: 1.8rem;
      }
      .data {
        font-size: 1.4rem;
      }
    }
  }
}

//500
@media only screen and(max-width: 31.25em) {
  .datas {
    flex-direction: column;
    .item {
      width: 100%;
      margin-top: 10px;
      dl {
        dt {
          font-size: 1.8rem;
          padding: 10px 0;
        }
        dd {
          padding: 10px 20%;
          .data-txt {
            p {
              font-size: 1.4rem;
              &:nth-of-type(1) {
                font-size: 2rem;
              }
            }
          }
        }
      }
      .title {
        font-size: 1.6rem;
        margin-top: 4px;
      }
      .data {
        font-size: 1.2rem;
        margin-bottom: 6px;
      }
    }
  }
}